<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="rule1" value="a" />
    <add key="rule2" value="b,e" />
    <add key="rule3" value="a,b,c" />
    <add key="rule4" value="c,a" />
 </appSettings>
</configuration>